@{
    ViewBag.Title = "Home Page";
    ViewBag.Page = "DashBoard";
}

<div>
    <div ng-repeat="value in data">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div ng-if="value.StatusId == 1" class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div ng-if="value.StatusId == 2" class="col-xs-3">
                            <i class="fa fa-user-plus fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{value.Id}}</div>
                            <div>{{value.Name}}</div>
                        </div>
                    </div>
                </div>
                <a href="#" ng-click="getAllInformationComputer(value.Id,value.UserId)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>